body {
    background-color: #f1faee;
}

/* .lofi-image-container {
    min-height: 300px; 
    max-height: 70vh;
} */

.lofi-image-phone-container img {
    width: 100%; 
    height: auto;
    max-height: 170vh;
    display: block; 
} 